In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chuy,-33.6971,-53.4616,73.08,53,63,9.40,UY,2022-01-28 17:34:01
1,1,Nikolskoye,59.7035,30.7861,28.87,96,100,6.06,RU,2022-01-28 17:31:27
2,2,Fortuna,40.5982,-124.1573,41.92,81,0,11.50,US,2022-01-28 17:31:25
3,3,Rikitea,-23.1203,-134.9692,77.49,76,100,17.98,PF,2022-01-28 17:31:16
4,4,Cabo San Lucas,22.8909,-109.9124,75.51,55,20,3.44,MX,2022-01-28 17:30:27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Rikitea,-23.1203,-134.9692,77.49,76,100,17.98,PF,2022-01-28 17:31:16
4,4,Cabo San Lucas,22.8909,-109.9124,75.51,55,20,3.44,MX,2022-01-28 17:30:27
5,5,Puerto Ayora,-0.7393,-90.3518,82.36,71,99,8.32,EC,2022-01-28 17:33:47
6,6,Daru,-9.0763,143.2092,77.77,88,100,7.90,PG,2022-01-28 17:35:08
15,15,Jaguaribe,-5.8906,-38.6219,86.94,48,100,8.37,BR,2022-01-28 17:35:11
16,16,Bireun,5.2030,96.7009,78.80,85,56,3.13,ID,2022-01-28 17:35:11
19,19,Bathsheba,13.2167,-59.5167,79.41,73,75,9.22,BB,2022-01-28 17:35:12
30,30,Butaritari,3.0707,172.7902,81.72,79,40,17.07,KI,2022-01-28 17:32:37
34,34,Bengkulu,-3.8004,102.2655,76.64,87,91,3.44,ID,2022-01-28 17:35:15
37,37,Mahebourg,-20.4081,57.7000,79.09,83,75,4.61,MU,2022-01-28 17:35:16

In [12]:
preferred_cities_df.count()

City_ID       153
City          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
Country       151
Date          153
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Rikitea      PF     77.49 -23.1203 -134.9692
4   Cabo San Lucas      MX     75.51  22.8909 -109.9124
5     Puerto Ayora      EC     82.36  -0.7393  -90.3518
6             Daru      PG     77.77  -9.0763  143.2092
15       Jaguaribe      BR     86.94  -5.8906  -38.6219
16          Bireun      ID     78.80   5.2030   96.7009
19       Bathsheba      BB     79.41  13.2167  -59.5167
30      Butaritari      KI     81.72   3.0707  172.7902
34        Bengkulu      ID     76.64  -3.8004  102.2655
37       Mahebourg      MU     79.09 -20.4081   57.7000

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print('Hotel not found. . . .skipping.')

Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.
Hotel not found. . . .skipping.

In [21]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,77.49,-23.1203,-134.9692,People ThankYou
4,Cabo San Lucas,MX,75.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
5,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Daru,PG,77.77,-9.0763,143.2092,Daru Lodge
15,Jaguaribe,BR,86.94,-5.8906,-38.6219,Hotel Pinheiro
...,...,...,...,...,...,...
543,Siyabuswa,ZA,79.20,-25.1132,29.0445,Survivor Africa Game Lodge
545,Bocana De Paiwas,NI,85.35,12.7857,-85.1227,Guapinol Cabaña Monge
546,Ndende,GA,77.68,-2.4008,11.3581,
548,Warmbad,NaN,89.78,-28.4500,18.7333,
552,Bodden Town,KY,82.99,19.2833,-81.2500,Will T Place

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]