## Deliverable 3. Create a Travel Itinerary Map.

In [97]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os.path

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [106]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\vowel\Desktop\Data Analytics Class - Copy\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Max Temp,Country,Weather Right Now,Lat,Lng,Hotel Name
0,1,Rikitea,77.83,PF,broken clouds,-23.1203,-134.9692,People ThankYou
1,3,Lorengau,77.83,PG,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
2,8,Mataura,75.47,NZ,broken clouds,-46.1927,168.8643,Ellie's Villa
3,13,Tefe,80.71,BR,few clouds,-3.3542,-64.7114,Aracati Hotel
4,15,Saint-Philippe,78.39,RE,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...,...
236,676,Pointe Michel,77.85,DM,broken clouds,15.2500,-61.3833,Castle Comfort Lodge Dive Dominica
237,681,Greymouth,72.16,NZ,overcast clouds,-42.4667,171.2000,Kingsgate Hotel Greymouth
238,683,Pontianak,73.38,ID,mist,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
239,686,Muncar,79.16,ID,overcast clouds,-8.4333,114.3333,Zaky Homestay
240,687,Urucui,76.73,BR,broken clouds,-7.2294,-44.5561,Hotel Premium Piauí

In [107]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [102]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start =vacation_df.loc[vacation_df['City']=='Ambulu']
vacation_end = vacation_df.loc[vacation_df['City']=="Ambulu"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Muncar"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Denpasar"]
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Banjar"]
vacation_start

,City_ID,City,Max Temp,Country,Weather Right Now,Lat,Lng,Hotel Name
158,446,Ambulu,78.55,ID,overcast clouds,-8.345,113.6058,Hotel Ambulu Jember

In [117]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

(-8.19, 114.9675)

In [119]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
start
end
stop1
stop2
stop3


fig = gmaps.figure()
road_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(road_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_df.loc[vacation_df['City']=='Ambulu'],vacation_df.loc[vacation_df['City']=="Muncar"],vacation_df.loc[vacation_df['City']=="Denpasar"],vacation_df.loc[vacation_df['City']=="Banjar"] ],ignore_index=True)
itinerary_df

,City_ID,City,Max Temp,Country,Weather Right Now,Lat,Lng,Hotel Name
0,446,Ambulu,78.55,ID,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
1,686,Muncar,79.16,ID,overcast clouds,-8.4333,114.3333,Zaky Homestay
2,541,Denpasar,82.06,ID,scattered clouds,-8.6500,115.2167,ASTON Denpasar Hotel & Convention Center
3,218,Banjar,82.26,ID,overcast clouds,-8.1900,114.9675,The Hamsa Resort

In [124]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Right Now}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [125]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))